{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link rel="stylesheet" href="{% static 'app_one/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Audio Recorder</h1>
        <div class="controls">
            <button id="startButton">Start Recording</button>
            <button id="stopButton" disabled>Stop Recording</button>
        </div>
        <audio id="audioElement" controls></audio>
    </div>
    <script src="{% static 'app_one/js/script.js' %}"></script>
</body>
</html>
